%li
  = link_to group.name, group_path(group)
  %br
  = link_to 'Neue Gruppenwette', new_group_group_bet_path(group)
  %br
  = link_to 'Gruppenwetten', group_group_bets_path(group)
  %ul= render group.matches
