- content_for :header_left do
  = link_to 'Neue Gruppenwette', new_group_group_bet_path(@group), 'data-ajax' => false

- content_for :header_right do
  = link_to 'Gruppenwetten', group_group_bets_path(@group)

%h1= "Gruppenspiele #{@group.name}"

%ul{data: {role: "listview", inset: "true"}}= render @group.matchs
